@charset "utf-8";
/* CSS Document */

/** Este es la parte del login de usuario */
body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	
 }
/* Este es el header*/
#pagina_principal{
	top:0px;
	left:0px;
	right:0px;
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	position:fixed;
	height:100%;
}

input{
	height:28px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:25px;
	width:220px;
	border:1px solid #A8A8A5;
	background: #e5e5e5; /* Old browsers */
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	background-image:url(../images/24x24/001_45.png);
	background-repeat:no-repeat;
	background-position:right;

}
input:focus{
	background-color:#FFF;
	
}
input:hover{
	background-color:#FFF;
}
input[type="submit"]{
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	font-weight:bold;
	height:30px;
	border:1px solid  #CCC;
	font-size:13px;
	margin-bottom:15px;
}
input[type="submit"]:hover{
	border:1px solid #A8A8A5;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #c4c4c4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#c4c4c4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#c4c4c4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#c4c4c4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#c4c4c4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#c4c4c4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c4c4c4',GradientType=0 ); /* IE6-9 */
}

#HeraderTitle{
	
	height: 59px; 
	background: #e2e2e2; /* Old browsers */
	background: -moz-linear-gradient(top,  #e2e2e2 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e2e2e2 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e2e2e2 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e2e2e2 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e2e2e2 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0px 3px 10px rgba(50, 50, 50, 0.4);
	box-shadow:         0px 3px 10px rgba(50, 50, 50, 0.4);
	border-bottom:2px solid #FFF;
	border-top:1px solid #FFF;
	z-index:1000;
}
#HeraderTitle img{
	margin-left:10%;
	margin-top:-1px;
	border-left:1px solid #FFF;
	border-right:1px solid #FFF;
}


 
#UserData {
   background-color:#E5F7FD;
   font-size:14px;
   text-align:left;
   border-bottom:1px solid #7FD7F7;
   color:#663300;
   float:left;
}


#Salir a:hover{
	
	font-style:italic;
	color:#663300;
   
}
#Salir a{
	text-decoration:none;
	color:#669900;
}
#Salir{
	background-color:#E5F7FD;
	font-size:14px;
	border-bottom:1px solid #7FD7F7;
	text-decoration:none;
	text-align:right;
}

#FooterIn{
    background-color:#FFFFCC;
	border:1px solid #FFD40B;
	font-size:12px;
	font-style:italic;
	margin-top:0px;
	color:#663300; 
}
/** Esta es la lista de modulos que hay */
#TitleModulo{
	font-size:14px;
	color:#336600;
	margin-left:0px;
	text-align:left;
	font-style:normal;
}
#ListaSeleccion{
	margin-top:0px;
	margin-bottom:0px;
	margin-left:-50px;
}

#ListaSeleccion li a{
	 font-family:"Trebuchet MS",arial,verdana,helvetica;
	 text-decoration:none;
	 background:#ff9; 
	 color:#000000;
	 padding:4px 10px;
	 font-size:12px;
	 display:block;
	 width:200px;
	 text-align:left;
	 margin-left:280px;
	 border:1px solid black;
	 margin-top:1px;
}
#ListaSeleccion ul{
	list-style-type:none;
	padding:0px;
	margin-left:0px;
}
#ListaSeleccion li a:hover{
	background:#fc0;
	color:#fff;
}
#cuerpoModulo{
	background-color:#E5F4FD;
	border:1px solid #0099FF;
    font-style:normal;
    font-size:24px;
	text-align:center;
	width:820px;
	height:auto;
	/*margin-left:150px;*/
	margin:0 auto 0 auto; 

}

#TableModulo table{
	border:1px solid #FF9900;
	width:auto;
	height:auto;
	margin-top:50px;
	margin-bottom:50px;
	background-color:#D8E9EC;
	font-size:14px;
}
#TableModulo th{
	border:1px solid #FF6600;
	background-color:#FFCC66;
	font-size:14px;
	text-align:left;
}
#TableModulo td{
	border:1px solid #FF9900;
	font-family:Verdana, Geneva, sans-serif;	
}

#TableModulo2 table{
	border:1px solid #000000;
	width:auto;
	height:auto;
	margin-top:5px;
	margin-bottom:0px;
	background-color:#D8E9EC;
	font-size:12px;
}
#TableModulo2 th{
	border:1px solid #000000;
	background-color:#FFFFCC;
	font-size:12px;
	text-align:left;
	}
#TableModulo2 td{
	border:1px solid #000000;	
}
#AtrasBoton{
     text-align:right;
	 font-size:14px;
	 
}
#AtrasBoton a{
	text-decoration:none;
	color:#336600;
	font-size:16px;
}
#AtrasBoton a:hover{
	color:#663300;
	font-style:italic;

}
/** Este es el cuerpo de ver modulo */
#CueproVerMod{
   font-size:14px;
   text-align:left;
   background-color:#D8E9EC;
   border:1px solid #FF9900;
   width:650px;;
   height:auto;
   margin-bottom:50px;
   margin-top:40px;
   margin-left:50px;
}
#CueproVerMod a{
	color:#336600;
	text-decoration:none;
}
#CueproVerMod a:hover{
	color:#663300;
	font-style:italic;

} 
/** fin*/
/** Esta es la parte de gral_man_usr.php */
#GeneralManUsuario{
	width:auto;
	font-size:14px;
	text-align:left;
	border:1px solid #0099FF;
	background-color:#D8E9EC;
	padding-top:10px;
	padding-left:300px;
	margin-bottom:50px;
	margin-top:20px;
}
/** Esta es la parte de solic_mante_aa.php */
#GeneralManSolicaa{
	width:800px;
	font-size:14px;
	text-align:left;
	margin:auto;
	border:1px solid #0099FF;
	background-color:#D8E9EC;
	padding-top:10px;
	padding-left:10px;
	margin-bottom:50px;
	margin-top:20px;
}




/** Esta es la tabla d de Consultar Usuarios*/
#TableUsuario table{
	font-size:12px;
	background-color:#D8E9EC;
	border:1px solid #FF9900;
	margin-top:10px;
	margin-bottom:10px;
}
#TableUsuario th{
	background-color:#FFCC66;
	border:1px solid #FF6600;
}
#TableUsuario td{
	border:1px solid #FF9900;
}

#FooterTable {
	font-size:14px;
	color:#663300;
	margin-bottom:10px;
	margin-top:10px;
}
#FooterTable a{
	text-decoration:none;
	color:#336600;
}

#FooterTable a:hover{
	
	color:#663300;
	font-style:italic;
}
#GeneralManUsuarioM{
	width:550px;
	font-size:14px;
	text-align:left;
	margin:auto;
	border:1px solid #0099FF;
	background-color:#D8E9EC;
	padding-top:10px;
	padding-left:10px;
	margin-bottom:50px;
	margin-top:20px;
}
#GeneralManCliente{
	width:auto;
	font-size:14px;
	text-align:left;
	margin:auto;
	border:1px solid #0099FF;
	background-color:#D8E9EC;
	padding-top:10px;
	padding-left:10px;
	margin-bottom:50px;
	margin-top:20px;
}
#cuerpoCliente{
	background-color:#E5F4FD;
	border:1px solid #0099FF;
    font-style:normal;
    font-size:24px;
	text-align:center;
	width:750px;
	height:auto;
	margin-left:80px;

}
#FooterTitle{
	height:30px;
	color:#515151;
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	font-style:italic;
	/*border-top:2px solid #FFF;
	font-size:12px;
	text-align:center;
	text-shadow: 1px 2px 3px #666;
	background: #93cede; /* Old browsers */
	/*background: -moz-linear-gradient(top,  #93cede 0%, #75bdd1 41%, #49a5bf 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93cede), color-stop(41%,#75bdd1), color-stop(100%,#49a5bf)); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  #93cede 0%,#75bdd1 41%,#49a5bf 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  #93cede 0%,#75bdd1 41%,#49a5bf 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  #93cede 0%,#75bdd1 41%,#49a5bf 100%); /* IE10+ */
	/*background: linear-gradient(to bottom,  #93cede 0%,#75bdd1 41%,#49a5bf 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf',GradientType=0 ); /* IE6-9 */
/*	-webkit-box-shadow: 0px -3px 10px rgba(50, 50, 50, 0.45);
	-moz-box-shadow:    0px -3px 10px rgba(50, 50, 50, 0.45);
	box-shadow:         0px -3px 10px rgba(50, 50, 50, 0.45);*/
	bottom:0px;
	width:100%;
	padding-top:15px;
}